/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--bg-color);
  font-family: var(--main-font-family);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--main-heading-color);
}

.header__decorative-text {
  color: var(--accent-color);
  position: absolute;
  text-transform: uppercase;
  inset-inline-end: 38px;
  inset-block-start: var(--main-gap);
}

.header__decorative-text::after {
  content: "";
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  position: absolute;
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  margin-top: 8px;
  border-radius: 50%;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: var(--main-gap);
  inset-block-start: var(--main-gap);
  border-block-start: 1px solid var(--nav-color);
  border-inline-end: 1px solid var(--nav-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: var(--main-gap);
  inset-block-end: var(--main-gap);
  border-inline-start: 1px solid var(--nav-color);
  border-block-end: 1px solid var(--nav-color);
}

.header__theme-menu-list {
  display: flex;
  gap: var(--main-gap);
  flex-direction: column;
  justify-self: end;
}

.header__theme-menu-button {
  color: var(--nav-color);
  min-block-size: 26px;
  min-inline-size: 70px;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  appearance: none;
}

.header__theme-menu-button_active {
  border-color: var(--button-active-color);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border: none;
  border-bottom: 1px solid var(--nav-color);
}

.header__theme-menu-button:hover {
  border-color: var(--nav-hover-color);
}

.header {
  /* базовые размеры и условия в основном для мобильной версии */
  height: 100vh; /* высота во весь экран на всех устройствах */
  min-block-size: 668px;
  font-size: var(--main-text-size);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  position: relative;
  padding: var(--main-gap);
}

.header__title {
  color: var(--header-logo-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  /* font-weight: var(--bold-font-weight); */
  font-size: var(--header-logo-size);
  line-height: var(--title-line-height);
  justify-self: center;
}

.header-text-block__title {
  font-weight: var(--bold-font-weight);
  font-size: var(--main-text-size);
}

.content {
  display: grid;
  gap: var(--big-gap);
  padding: 40px 10px;
}

.content-section {
  display: grid;
  gap: var(--small-gap);
  font-family: var(--main-font-family);
}

.content-section__title {
  color: var(--section-heading-color);
  font-weight: var(--bold-font-weight);
  font-size: var(--main-text-size);
}

.text-blocks {
  display: grid;
  gap: var(--small-gap);
}

.text-block {
  display: grid;
  gap: var(--main-gap);
}

.text-block__title {
  font-weight: var(--bold-font-weight);
  font-size: var(--main-text-size);
}

.text-block__subtitle {
  font-weight: var(--normal-font-weight);
  font-size: var(--main-text-size);
}

.text-block__content {
  color: var(--text-content-color);
  font-weight: var(--normal-font-weight);
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
}

.section__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}
.section__link:focus {
  outline: none;
}
.section__link:hover {
  border: none;
  border-bottom: 1px solid var(--text-content-color);
}

.section__link:focus-visible {
  outline: 1px solid var(--text-content-color);
  outline-offset: 1px;
}

.content__section-gallery {
  display: grid;
  gap: var(--main-gap);
  font-family: var(--main-font-family), monospace;
}

.gallery__items {
  display: grid;
  gap: var(--main-gap);
}

.gallery__image {
  inline-size: 355px;
}

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  position: relative;
  font-family: var(--main-font), sans-serif;
  font-size: var(--main-text-size);
  padding: var(--main-gap);
}

.footer__title {
  color: var(--footer-logo-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-size: var(--footer-logo-size);
  justify-self: center;
  line-height: var(--title-line-height);
}

/*  для media планшета */
@media (width >= 768px) {
  .header {
    padding: 20px 20px 20px 0;
  }
  .header__title {
    justify-self: start;
    font-size: var(--header-logo-size);
  }

  .footer__title {
    font-size: var(--footer-logo-size);
  }

  .text-blocks {
    gap: 0;
    row-gap: 20px;
  }

  .header-text-block__title {
    justify-self: end;
    inline-size: var(--header-text-width);
  }

  .decorated-zone::before {
    inset-inline-end: var(--small-gap);
    inset-block-start: var(--small-gap);
  }

  .decorated-zone::after {
    inset-inline-start: var(--small-gap);
    inset-block-end: var(--small-gap);
  }

  .header__decorative-text {
    inset-inline-end: 48px;
    inset-block-start: var(--small-gap);
  }

  .content {
    gap: var(--large-gap);
    padding: 60px 20px 60px;
  }

  .cause {
    grid-template-columns: 1fr;
  }

  .why,
  .advice {
    grid-template-columns: 1fr minmax(min-content, 472px);
  }

  .why .text-block {
    grid-column: 2;
  }

  .content-section__title {
    max-inline-size: 236px;
  }

  .content__section-gallery {
    display: grid;
    gap: var(--small-gap);
  }

  .gallery__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    gap: var(--small-gap);
  }

  .gallery__image {
    display: block;
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
    object-position: center;
  }

  .gallery__image:first-of-type {
    grid-column: span 2;
  }

  .gallery__image:nth-of-type(2) {
    grid-row: span 2;
  }

  .gallery__image:nth-of-type(3) {
    grid-row: span 2;
  }

  .gallery__image:nth-of-type(5) {
    grid-column: span 2;
  }
}

/*  для media десктопа*/
@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-inline-start: 19px;
    margin-block-start: -2px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .why,
  .advice {
    grid-template-columns: 1fr minmax(min-content, 649px);
  }

  .cause {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cause .content-section__title {
    grid-column: 1/-1;
  }

  .cause .text-blocks {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--small-gap);
  }

  .cause .text-block {
    grid-template-rows: fit-content(23px);
  }

  .content-section__title {
    max-inline-size: 315px;
  }
}
