/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
  font-family: var(--main-font-family);
  line-height: var(--main-line-height);
  
}

.header { 
  /* базовые размеры и условия в основном для мобильной версии */
  height: 100vh; /* высота во весь экран на всех устройствах */
  min-height: 688px;
}

.header__title {
  color: var(--header-logo-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: 700;
  font-size: 116px;
  line-height: 83%;

}

.content {
  display: grid;
  gap:50px;
}

.content-section {
}

.content-section__title {
  color: var(--section-heading-color);
  margin-bottom: 20px;
  font-weight: 700;
}


.text-block__title{
  color: var(--main-heading-color);
  background-color: var(--accent-color);
  margin-bottom: var(--main-gap);
  font-weight: 700;
}

.text-block__subtitle {
  color: var(--main-heading-color);
  background-color: var(--accent-color);
  font-weight: 400;
} 

.text-block__content {
  color: var(--text-content-color);
  font-weight: 400;
} 