/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/


:root { /*Переменные тёмной темы для мобильной версии*/
--main-font-family: 'IBM Plex mono', 'Courier New', Courier, monospace;
--main-text-size: 18px;
--main-gap: 10px;
--main-line-height: 1.3;
--header-logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
--bg-image: url('../images/cover-image-dark.png');
--bg-color: #000028;
--accent-color: #ff0070;
--nav-color: #ff0070;
--header-logo-color: #db00ff;
--text-content-color: #F1B2CE;
--main-heading-color: #000028;
--section-heading-color: #ff0070;
--nav-hover-color: rgba(255, 0, 112, 0.4);
--footer-logo-color: #db00ff;
--footer-logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);

}


/*  для media планшета и десктопа*/
@media (width >= 768px) {
  :root{
  --main-gap: 20px;
  --header-logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --footer-logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}